.food{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(src/.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #af8166;
    color: #fff;
}

header{
    background-image: url(src/foodtop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 20px;
    align-items: center;
}
.foodhead{
    padding-top: 10px;
    font-weight: 700;
    align-items: center;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
}

.foodhead h1{
    margin: 0px;
    padding: 10px;
    border: none;
    width: 50%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 0 0;
}

.search{
    display: flex;
    justify-content: center;
}
.search input{
    padding: 10px;
    border: none;
    width: 35%;
    font-size: 15px;
    outline: none;
    border-radius: 0 0 0 10px;
}
.search button{
    padding: 10px 20px;
    background-color: #af8166;
    border: none;
    width: 15%;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    border-radius: 0 0 10px 0;
    transition: all 0.3s ease;
}

.search button:hover{
    background-color: #6b4d3c;
}
.meal-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border: 15px solid #af8166;
    background-image: url(src/foodwall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
}
.meal-item {
    flex-basis: calc(25% - 20px);
    max-width: calc(25% - 20px);
    margin: 10px;
    padding: 20px 20px 10px;
    box-shadow: 0 8px 24px rgba(230, 184, 158, 0.2);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #af8166b6;
    color: #fff;
}

.meal-item:hover{
    transform: scale(1.05);
}

.meal-item img{
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.meal-item h3{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
    font-weight: 600;
}
.modal-container{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #af8166;
    padding: 20px;
    box-shadow: 0 0 10px rgba(230, 184, 158, 0.2);
    z-index: 1000;
    max-width: 90%;
    overflow: auto;
    border-radius: 10px;
}
.modal-container .close-button{
    font-size: 42px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    width: 100%;
    text-align: right;
    margin-bottom: 16px;
    transition: all 0.3s ease;
}
.modal-container .close-button:hover{
    color: #6b4d3c;
}
.meal-details-content{
    overflow-y: auto;
    max-height: 70vh;
}
.recipe-title{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
}
.recipe-category{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}
.recipe-instruct h3{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
.recipe-instruct p{
    font-size: 16px;
    margin-bottom: 10px;
    text-align: justify;
    padding: 18px;
}
.recipe-img img{
    max-width: 50%;
    display: block;
    margin: 0 auto 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.recipe-video{
    text-align: center;
    margin-top: 10px;
}
.recipe-video a{
    padding: 10px 20px;
    background-color: #6b4d3c;
    border: none;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
}