@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

body{
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(src/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.card{
    position: absolute;
    width: 400px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
    margin: 20px;
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid #ffffff20;
    cursor: all-scroll;
}

.card header{
    user-select: none;
    padding: 1.5rem;
    -webkit-text-stroke: 0.3px #ffffff20;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: block;
    border-bottom: 1px solid #ffffff20;
    background-image: url(src/background2.jpg);
    background-size: cover;
    background-position: center;
}